        @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

        body {
            font-family: Arial, sans-serif;
            background-color: black;
            color: #f0f0f0;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-size: 0.8em;
        }

        .content{
            display: flex;
        }

        .ranking h1 {
            font-family: 'Orbitron', sans-serif;
            color: #0ff;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background: linear-gradient(90deg, #00f, #0ff, #0f0);
            -webkit-background-clip: text;
            color: transparent;
        }

        #dataDisplay {
            padding: 18px;
        }

        #dataDisplay .crypto-data {
            background-color: #fff;
            border: 1px solid #1e1e1e;
            padding: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        #dataDisplay .crypto-data h2 {
            font-family: 'Orbitron', sans-serif;
            font-size: 24px;
            color: #0d6efd;
            margin-bottom: 10px;
        }

        #dataDisplay .crypto-data p {
            font-size: 16px;
            margin: 5px 0;
        }

        #dataDisplay .crypto-data .market-cap {
            color: #28a745;
        }

        #dataDisplay .crypto-data .previous-market-cap {
            color: #dc3545;
        }

        .market-cap-up {
            color: #28a745;
        }

        .market-cap-down {
            color: #dc3545;
        }

        #treemap {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        .crypto {
            color: #fff;
            border-radius: 1px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s;
            text-align: center;
            margin: 1px;
        }

        .crypto:hover {
            transform: scale(1.05);
        }

        .crypto > .symbol {
            color: #f0f0f0;
            font-size: 0.8em;
        }

        .crypto > .market-cap-percentage {
            color: #f0f0f0;
            font-size: 0.8em;
        }

        #loadDataButton {
            background-color: #0d1b8d;
            color: #fff;
            border: none;
            border-radius: 1px;
            padding: 7px 20px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
            width: 97%;
            margin-top: 20px;
        }

        #loadDataButton:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        #loadDataButton:active {
            background-color: #004494;
        }

        .container {
            display: flex;
            flex-direction: column;
            max-width: 1120px;
        }

        .form-container {
            width: 94%;
            max-width: -webkit-fill-available;
            margin-top: 20px;
            padding: 20px;
            background-color: #1e1e1e;
            border-radius: 1px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-container h2 {
            font-family: 'Orbitron', sans-serif;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background: linear-gradient(90deg, #00f, #0ff, #0f0);
            -webkit-background-clip: text;
            color: transparent;
        }

        .form-container form {
            display: flex;
            flex-direction: column;
        }

        .form-container form input,
        .form-container form textarea {
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #333;
            border-radius: 5px;
            color: black;
            width: 95%;
        }

        .form-container form button {
            background-color: #0d1b8d;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 7px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.3s;
        }

        .form-container form button:hover {
            background-color: #0056b3;
            transform: scale(1.05);
        }

        .form-container form button:active {
            background-color: #004494;
        }

        .form-container #formMessage {
            margin-top: 10px;
            padding: 10px;
            border-radius: 5px;
        }

        #savedDataContainer {
            width: 94%;
            margin-top: 30px;
            background-color: #1c1c1c;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        #savedDataContainer h2 {
            font-family: 'Orbitron', sans-serif;
            color: #0ff;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background: linear-gradient(90deg, #00f, #0ff, #0f0);
            -webkit-background-clip: text;
            color: transparent;
        }

        .saved-data-item {
            background-color: #282828;
            padding: 15px;
            margin-bottom: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .saved-data-item p {
            margin: 5px 0;
        }

        .delete-button {
            background-color: #dc3545; /* Cor de fundo vermelha */
            color: white; /* Cor do texto branca */
            border: none; /* Sem borda */
            padding: 5px 10px; /* Espaçamento interno */
            cursor: pointer; /* Cursor de ponteiro */
            margin-top: 5px;
            transition: background-color 0.3s; /* Transição suave para mudanças de cor */
        }
